<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  The author and illustrator of this book is also an artist, a teacher and a programmer.
He was born in North Sydney but was raised in Silicon Valley.  
As well as a history making virtual reality games and work in the as fine arts, he has lived in South Korea and and been through a series of start up companies.
Now, between contracts as an mobile applications developer and programmer, he finds the time to draw and make stories.
While staying at Coaster Retreat in 2014 for a period of a month, Myra told him her story on frequewnt trips back and forth across Pittwater.
</p>