<% provide(:title, 'Bennetts') %>
<h1>Bennetts Wharf</h1>
<p>
  The first stop on Myra's route.  Bennetts along with Bonnie Doon wharf are the only two stops at Coasters Retreat.
</p>
<%= image_tag "places/Bennetts-0-350.png" %>