<% provide(:title, 'Bonnie Doon') %>
<h1>Bonnie Doon Wharf</h1>
<p>
The third stop on Myra's route.  
The Bonnie Doon wharf is the oldest of two wharves at Coasters Retreat which has no road or land access and is entirely dependent on transport via the Palm Beach Ferry Service.
The area was first inhabited by Indigenous Australians, the Kuringgai.
Coasters Retreat became enclosed by a national park following the establishment of the Ku-Ring-Gai Chase National Park in 1896 and a no fences rule. 
In 1914 Bonnie Doon Wharf was re-built.
On October 5th, 2014, an anniversary celebration was held and Bonnie Doon Day was born.
</p>
<div class="fadein">
<%= image_tag 'places/Bonnie-Doon-1-350.png', :alt => 'Drawing of Bonnie Doon', :class => 'img-circle' %>
</div>
