<% provide(:title, 'Bonnie Doon') %>
<h1>Bonnie Doon Wharf</h1>
<p>
The second stop on Myra's route.  
The Bonnie Doon wharf is the oldest of two wharves at Coasters Retreat which has no road or land access and is entirely dependent on Myra and the Palm Beach Ferry Service.
The area was first inhabited by Indigenous Australians, the Kuringgai, so the area became the Ku-Ring-Gai Chase National Park. 
On October 5th, 2014, an anniversary celebration was held and Bonnie Doon Day was born.</p>
<div class="fadein">
<%= image_tag 'places/Bonnie-Doon-1-350.png', :alt => 'Drawing of Bonnie Doon', :class => 'img-circle' %>
</div>
