<% provide(:title, 'Bonnie Doon') %>
<h1>Bonnie Doon Wharf</h1>
<p>
  The third stop on Myra's route.
</p>
<%= image_tag 'places/Bonnie-Doon-1-350.png', :alt => 'Drawing of Bonnie Doon', :class => 'img-circle' %>

