<% provide(:title, 'Hakea Blossom') %>

<table>
    <tr><td>
        <table><tr><td><h1>Hakea Blossom</h1></td></tr>
        <tr><td>The friend of Myra.<td></tr>
        <tr>
            <div class="fadein">
            <td><%= image_tag "characters/Hakea-adnata-0-360.png" %></td></tr>
            </div>
        </table>
    </td>
    <td>
        <table>
            <tr><td>
Hakea is a type of shrubs or small trees from to Australia. 
They grow around the country, but most are found in Western Australia.
Hakeas are named after Baron Christian Ludwig von Hake, the 18th century German patron of botany, following Heinrich Schrader's description of Hakea teretifolia in 1797.
Grevilleas are similar to Hakea and it's difficult sometimes to tell the difference.
The Hakea baby blossom from the story is called Hakea francisiana (also called an Emu Tree).
This plant takes it name from George Francis, a Director of the Adelaide Botanic Gardens and distant relative of the author.
</br>
Pictured: Hakea adnata, Southern WA.
            </td></tr>
        </table>
        </td></tr>
</table>
