<% provide(:title, 'Hakea Blossom') %>

<table>
    <tr><td>
        <table><tr><td><h1>Hakea Blossom</h1></td></tr>
        <tr><td>The friend of Myra.<td></tr>
        <tr><td><%= image_tag "characters/Hakea-adnata-0-360.png" %></td></tr>
        </table>
    </td>
    <td>
        <table>
            <tr><td>
Hakea adnata, Southern WA.
</ br>
Hakea is a genus of 149 species of shrubs and small trees native to Australia. 
They are found throughout the country, with the highest species diversity being found in Western Australia.
Hakeas are named after Baron Christian Ludwig von Hake, the 18th century German patron of botany, following Heinrich Schrader's description of Hakea teretifolia in 1797.
sGrevillea is paraphyletic with respect to Hakea. It is likely, therefore, that Hakea may soon be transferred into Grevillea.
 </td></tr>
        </table>
        </td></tr>
</table>
