<% provide(:title, 'Lion Island') %>
<div class="fadein">
<table>
    <tr><td>
        <table>
            <tr><td><h1>Lion Island</h1>
            </h1></td></tr>
            <tr><td>Lion Island.<td></tr>
            <div id="image" class="hide">
            <tr><td>
                <%= image_tag "places/lion-island-1-350.png" %>
            </div>
        </table>
    </td>
    <td>
&nbsp;&nbsp;Lion Island is located at the mouth to the Hawkesbury River inside Broken Bay, in New South Wales, Australia.
It was originally named Mount Elliott Island by Governor Arthur Phillip in 1789, because it resembled Gibraltar where his friend, General Elliott, won battles against his foes.     
In 1956, the Lion Island Fauna Reserve was establishedand.  
In 1977 it was renamed the Lion Island Nature Reserve        
    </td></tr>
</table>
</div>