<% provide(:title, 'Myra') %>
<table>
    <tr><td>
        <table>
            <tr><td><h1>Myra</h1></td></tr>
            <tr><td>The main character of the story.<td></tr>
            <tr><td><%= image_tag "characters/Myra-Character-d1-0b-350.png" %>
        </table>
    </td>
    <td>
Myra is Norman Wright River Ferry that measures 15 metrs.  
Built in 1985 she is charming and knowledgeable.
She has a top deck which gives passengers a wonderful view of Broken Bay.
    </td></tr>
</table>
