<% provide(:title, 'Palm Beach Wharf') %>
<table>
    <tr><td>
        <table><tr><td><h1>The Palm Beach Wharf</h1></td></tr>
        <tr><td>The beginning of Myra's route.<td></tr>
        <tr><td>
            <div class="fadein">
            <%= image_tag "places/Palm-Beach-Wharf-0-350.png" %>
            </div>
        </td></tr>
        </table>
    </td>
    <td>
        <table>
        <tr><td>
        The Palm Beach Ferry runs a service from the wharf to Ettalong, Great Mackerel Beach, Currawong Beach, Coasters Retreat and The Basin.    
        </td></tr>
        </table>
        </td></tr>
</table>
