<% provide(:title, 'Serrata') %>
<table>
    <tr><td>
        <table><tr><td><h1>The Serrata</h1></td></tr>
        <tr><td>The nemisis of Myra (not really!)<td></tr>
        <tr><td>
            <div class="fadein">
            <%= image_tag "characters/Serrata2a_320_xxhdpi.png" %>
            </div>
        </td></tr>
        </table>
    </td>
    <td>
        <table>
            <tr>
            <div class="fadein">
                <td><%= image_tag("characters/Banksia-serrata-0-252.png", :align=> "middle") %></td>
            <tr><td>The Serrata character is based on the Banksia serrata tree, also known as old man banksia or saw banksia.  
            Native to the east coast of Australia, it has serrated leaves and large yellow flower spikes.
            It grows exclusively in sandy soils, and is usually the dominant plant in scrubland.            
            The fire-retardant bark is thick and often black from past bushfires. It oozes red sap when injured. 
            The tree has a lignotuber, which is an underground structure that stores energy used to grow back after a bushfire. 
            </td></tr>
        </table>
        </td></tr>
</table>
