<% provide(:title, 'Serrata') %>
<h1>The Serrata</h1>
<p>
  The nemisis of Myra.
</p>
<!--img src="/assets/characters/Serrata2a_320_xxhdpi.png" alt="Serrata" -->
<!-- %= image_tag 'Serrata2a_320_xxhdpi.png', :alt => 'Setrata Logo', :class => 'img-circle' % -->
<!--%= image_tag '/assets/characters/Serrata2a_320_xxhdpi.png', :alt => 'Blog Logo', :class => 'img-circle' % -->
<%= image_tag "Serrata2a_320_xxhdpi.png" %>