<% provide(:title, 'Stingray') %>
<h1>The Stingray</h1>
<p>
  The Stingray is lots of fun!
</p>
  <div class="fadein">
  <%= image_tag "characters/Common-stingaree-0-350.png" %>
  </div>
<table><tr><td>The Stingray character is based on the common stingaree, a species commonly found in inshore waters off eastern Australia.
    The tail measures 86–90% as long as the disc and has one or two serrated stinging spines on top the tail about halfway along its length.
    It is on this stinger that a loop at the end of a rope can be hooked.  The Hakea blossoms can then catch a ride like a banana boat on the tail of The Stingaree.
    This is why it had such a long long tail in the story!
</td></tr></table>