<table>
    <tr>
        <div class="fadein">
        <td><%= image_tag 'myra4-32c_icon_1_xxxhdpi.png', :alt => 'Myra Logo', :class => 'img-circle' %></td>
        </div>
        <td>
            <h1>Myra</h1>
            <p>Welcome to Myra the Ferryboat's page.
        </td>        
    </tr>
</table>
<img>
