<% provide(:title, 'News') %>
<h1>Recent News</h1>
<p>Currently the book is on its second draft edition.</p>
<%= link_to "Sign up now for updates!", signup_path, class: "btn btn-large btn-primary" %>
