// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    .fadein { position:relative; }
    .fadein img { position:relative; }
    
    .fadeout { position:relative; }
    .fadeout img { position:relative; }
  