<% provide(:title, 'Sales') %>
<h1>Sales</h1>

<p>There are two ways to order Myra the Ferryboat, and three kinds of books.</p>
<ul>
<li>Softcover AUD $15.00</li>
<li>Hardcover with Dust Jacket AUD $25.00</li>
<li>Hardcover ImageWrap (more durable for children) also AUD $25.00</li>
</ul>
<h3>In Sydney</h3>
<p>Local sales in Sydney and the Northern Beaches can be handled by the auther.</p>
<p>355/6 Cowper Wharf Roadway, Woolloomooloo, NSW, Australia, 2011.</p>
<p>Phone: 0435 499 052</p>
<p>E-mail: timofeyc at hotmail.com</p>
<hr>

<h3>Northern Beaches</h3>
<p>Call to check for availability of copies close to Palm Beach.</p>
<p>Mobile: 048 845 6745</p>
<hr>

<h3>Online</h3>
<p>Orders can also be placed from the publisher.</p>
<a href="http://blur.by/1uwXLUj">Myra sales online.</a></a>
